.banner{
    background-color: blue ;
    color: whitesmoke;
    margin-top: 75px;
    text-align: center;
    padding: 100px 0;

}

#small-cookie{
    height: 300px;
    width: 500px;
}

#cookiemon{
    color: blue;
    font-size: 100px;
}

.bold{
    font-weight: 900;
}